<h3>Liste des utilisateurs (<%= @users.count %>)</h3>
   <br>
<% @users.each do |user| %>
    <p>Utilisateur : <%= user.id %></p>
    <p>Mail : <%= user.email %></p>
    <a href="users/<%= user.id %>">Supprimer ce compte</a>
    <br>
    <hr><hr>
<% end %>