<h3>Gem devise</h3>   

  <br>
   
<ul>
    
    <li style="text-decoration:underline">Exercice 1</li>
         
        <p>A partir d’un nouveau projet, installez la gem devise et suivez la documentation pour générer les pages d’inscription et de connexion.</p>

        <p><b>Tip</b> : il n’est pas nécessaire d’aller au delà de la fin de la partie « Controller filters and helpers ». <br>La suite ne concerne que de la personnalisation avancée que vous n’aurez pas besoin pour le moment.</p>
    
    <br>
    
    <li style="text-decoration:underline">Exercice 2</li>
        <p>Une fois que l’inscription et la connexion fonctionnent avec devise, ajoutez la colonne rôle. <br>Permettez à tout le monde de voir une liste des utilisateurs, mais seulement aux administrateurs de les supprimer.</p>
    
</ul>
 

