<div class="jumbotron">

<h3>Travaux à réaliser</h3>
<br>
<ul>    
    <li> <a href="<%= gem_devise_path %>">La gem devise </a> </li>
    <br>
    <li> <a href="<%= gem_pundit_path %>">La gem pundit </a> </li>
</ul>

</div>