<h3>Gem pundit</h3>   

  <br>
  
  <p>La gem pundit permet d’extraire le code de droit d’accès des contrôleurs dans de nouvelles classes. <br>Sur les gros projets, c’est indispensable pour s’y retrouver</p>
  
  <br>

    
<span style="text-decoration:underline">Exercice</span>

<p>Installez et utilisez pundit sur votre petit projet.</p>

<p><b>Tip</b> : il n’est pas nécessaire d’aller au délà de la fin de la partie « Policies ».</p>

 

